* 
    padding: 0
    margin: 0
body
    
    .container
        .logo
           position: absolute
           left: 35%
           top: 20%
        .search 
            position: absolute
            left: 25%
            top: 37%
        
            table 
                border-top-width: 0px
                border-right-width: 0px
                border-bottom-width: 0px
                border-left-width: 0px
                width: 90%
              
                    

                #td_first
                    background-color: #EEEEEE
                    width: 716px
                    height: 78px


                    #input_first
                        height: 17px
                        width: 350px
                        margin-left: 150px

                    #search_span
                        margin-left: 230px
                    .search_div
                        margin-left: 230px 
                        input
                            padding: 3px  
                #left_td
                    width: 37% 
                    background-color: #7EE5DA
      
